.wrapper {
    box-sizing:content-box;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    height: 50px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    min-width: 1200px;
    max-width: 1200px;
    height: inherit;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    img {
        height: 50px;
    }
    &:hover{
        cursor: pointer;
    }
}
// category
.categories {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .category {
        position: relative;
        font-size: 1.6rem;
        padding: 8px 20px;
        color: white;
        text-transform: uppercase;
        margin-right: 5px;
        &:hover{
            cursor: pointer;
        }
        &:hover .wrapperTable {
            display: flex;
        }
        &:hover .columns {
            display: block;
        }
    }
    .wrapperTable{
        display: none;
        // display: flex;
        position: fixed;
        top: 60px;
        right: 0;
        left: 0;
        min-height: 100px;
        justify-content: center;
        background-color: black;
    }
    .table {
        font-family: 'Times New Roman', Times, serif;
        width: 1200px;
        display: flex;
        justify-content: space-around;
        padding: 50px 0;
        z-index: 2;
        .item {
            width: 300px;
            text-transform: uppercase;
        }
        .title {
            color: #bbb;
            font-size: 1.6rem;
            margin-bottom: 20px;
            padding: 5px 0;
            &:hover{
                cursor: pointer;
            }
        }
        .material {
            font-size: 1.4rem;
            color: white;
            margin-bottom: 5px;
            padding: 2px 0;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .columns {
        display: none;
        position: absolute;
        top: 40px;
        left: -40px;
        background-color: black;
        padding: 40px 0 20px 10px;
        width: 200px;
        .column{
            height: 30px;
            font-size: 1.6rem;
            margin-bottom: 5px;
            padding: 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}



.cart {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
// search and cart
.search {
    padding: 0 5px;
    margin-right: 10px;
    .searchIcon {
        width: 30px;
        height: 30px;
    }
    &:hover{
        cursor: pointer;
    }
}

.cartItem {
    padding: 5px;
    position: relative;
    &:hover{
        cursor: pointer;
    }
    .iconCart{
        height: 35px;
        width: 35px;
    }
    .qtyCart{
        box-sizing: content-box;
        position: absolute;
        background-color: transparent;
        text-align: center;
        font-size: 1.2rem;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        color: white;
        background-color: #ccc;
        top: -3px;
        right: 0;
        color: #111;
    }
}